body {
    background-image: url("/imgs/granero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F9E79F;
    opacity: 0.9;
}

#logo h1 {
    margin: 0;
}

#music button {
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 150px;
}

nav li {
    margin-left: 50px;
}

nav a {
    color: #333;
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}

button:active {
    transform: scale(.9);
    transition: all 100ms ease;
}

button svg {
    transition: all .5s ease;
    z-index: 2;
}

.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}

button:hover svg {
    transform: scale(3) translate(50%);
}

.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}

button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
}

button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}



.col-4 {
    width: 20%;
    height: 3%;
}

.row {
    height: 200px;
}


.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    max-width: 800px;
}

.scores>div {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex-basis: 50%;
}